<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To-do Lists</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'todo/styles.css' %}">
        <script src="{% static 'todo/init.js' %}"></script>
        {% if user.is_authenticated %}
        <script>
            window.location.href = "{% url 'todo:user' todo_user.id %}";
        </script>
        {% endif %}
    </head>
    <body>
        <h1>Welcome to the To-do app!</h1>
        <button onclick="window.location.href='{% url 'login' %}'">Log In</button>
        <button onclick="window.location.href='{% url 'password_reset' %}'">Forgot Password</button>
        <button onclick="window.location.href='{% url 'signup' %}'">Sign Up</button>
    </body>
</html>