<!DOCTYPE html>
<html lang="en">
    <head>
        <title>To-do list</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'todo/styles.css' %}">
        <script src="{% static 'todo/init.js' %}"></script>
    </head>
    <body>
        <script>
            // Django only expects POST and similar requests from forms. This leads to 2 weird issues.
            // First, the csrf token is only supplied as a template of an input tag. This means the actual token needs to be extracted from this input tag.
            let csrfToken = '{{ csrf_token }}'.split('value=')[0];
            function updateItem(element, item_id) {
                    var xmlHttp = new XMLHttpRequest();
                    xmlHttp.onreadystatechange = () => { 
                        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                            element.innerText = element.innerText === '☐' ? '✔' : '☐';
                    }
                    xmlHttp.open("POST", "{% url 'todo:update' %}", true);
                    // Second, it only checks for the csrf token in the form data, meaning everything has to be sent like it's a form.
                    xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
                    xmlHttp.send("csrfmiddlewaretoken=" + csrfToken + "&item_id=" + item_id);
                }
        </script>
        <h1>To-do list for {{ user.username }}</h1>
        <ul>
        {% for item in todo_list %}
        <li>
            <button onclick="updateItem(this, {{ item.id }})">
                {% if item.completed %}
                    ✔
                {% else %}
                    ☐
                {% endif %}
            </button>
            {% if item.name %}
            {{ item.name }}
            {% else %}
            (No name)
            {% endif %}
            {% if item.description != "empty" %}
                <ul>
                    <li>- {{ item.description }}</li>
                </ul>
            {% endif %}
        </li>
        {% empty %}
            <li>No to-do items found.</li>
        {% endfor %}
        </ul>
        <a href="{% url 'todo:index' %}">Back to user list</a>
    </body>
</html>