<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Profile</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'todo/styles.css' %}">
        <script src="{% static 'todo/init.js' %}"></script>
    </head>
    <body>
        <script>
            const csrfToken = '{{ csrf_token }}'.split('value=')[0];
            function getFriendName() {
                return document.getElementById('add_friend').value;
            }
            function addFriend(friend_id) {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open("POST", "{% url 'todo:update' %}", true);
                xmlHttp.onreadystatechange = () => {
                    if (xmlHttp.readyState == 4)
                        if (xmlHttp.status == 201) location.reload();
                        else if (xmlHttp.status == 404) alert("User not found. Make sure you use their username, not display name.");
                }
                xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
                xmlHttp.send("csrfmiddlewaretoken=" + csrfToken + "&action=addFriend&user_id=" + {{ self.id }} + "&friend_id=" + friend_id);
            }
            function cancelFriendRequest(friend_id) {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open("POST", "{% url 'todo:update' %}", true);
                xmlHttp.onreadystatechange = () => {
                    if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                        location.reload();
                }
                xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
                xmlHttp.send("csrfmiddlewaretoken=" + csrfToken + "&action=cancelFriendRequest&user_id=" + {{ user.id }} + "&friend_id=" + friend_id);
            }
            function acceptFriendRequest(friend_id) {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open("POST", "{% url 'todo:update' %}", true);
                xmlHttp.onreadystatechange = () => {
                    if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                        location.reload();
                }
                xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
                xmlHttp.send("csrfmiddlewaretoken=" + csrfToken + "&action=acceptFriend&user_id=" + {{ user.id }} + "&friend_id=" + friend_id);
            }
            function rejectFriendRequest(friend_id) {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open("POST", "{% url 'todo:update' %}", true);
                xmlHttp.onreadystatechange = () => {
                    if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                        location.reload();
                }
                xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
                xmlHttp.send("csrfmiddlewaretoken=" + csrfToken + "&action=declineFriend&user_id=" + {{ user.id }} + "&friend_id=" + friend_id);
            }
            function removeFriend(friend_id) {
                var xmlHttp = new XMLHttpRequest();
                if (confirm("Are you sure you want to remove this friend? You can always re-add them later.")) {
                    xmlHttp.open("POST", "{% url 'todo:update' %}", true);
                    xmlHttp.onreadystatechange = () => {
                        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                            location.reload();
                    }
                    xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
                    xmlHttp.send("csrfmiddlewaretoken=" + csrfToken + "&action=removeFriend&user_id=" + {{ user.id }} + "&friend_id=" + friend_id);
                } else return;
            }
        </script>
        <h1>{{ user.display_name }}'s Profile</h1>
        <h2><a href="{% url 'todo:todolist' user.id %}">To-Do List</a></h2>
        {% if categories %}
        <h2>Teams</h2>
        <ul>
            {% for category in categories %}
            <li><a href="{% url 'todo:team' category.id %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if self == user %}
        <h2>Friends</h2>
        <input id="add_friend">
        <button onclick="addFriend(getFriendId())">Add Friend</button>
        <ul>
        {% for request in friend_requests %}
            <li>{{ request.display_name }}<button onclick="cancelFriendRequest({{ request.id }})">Cancel</button></li>
        {% empty %}
            <li>No outgoing friend requests.</li>
        {% endfor %}
        </ul>
        <ul>
        {% for request_inc in incoming_requests %}
            <li>{{ request_inc.display_name }}<button onclick="acceptFriendRequest({{ request_inc.id }})">Accept</button><button onclick="rejectFriendRequest({{ request_inc.id }})">Reject</button></li>
        {% empty %}
            <li>No incoming friend requests.</li>
        {% endfor %}
        </ul>
        <ul>
        {% for friend in friends %}
            <li><a href="{% url 'todo:user' friend.id %}">{{ friend.display_name }}</a><button onclick="removeFriend({{ friend.id }})">Remove</button></li>
        {% empty %}
            <li>No friends found.</li>
        {% endfor %}
        </ul>
        {% elif self %}
        {% if self in friends or self in incoming_requests or self in friend_requests %}
        <p><button disabled="">Add Friend</button></p>
        {% else %}
        <p><button onclick="addFriend('{{ user.username }}')">Add Friend</button></p>
        {% endif %}
        {% endif %}
    </body>
</html>