<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Profile</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'todo/styles.css' %}">
        <script src="{% static 'todo/init.js' %}"></script>
    </head>
    <body>
        <script>
            const csrfToken = '{{ csrf_token }}'.split('value=')[0];
            function getFriendName() {
                return document.getElementById('add_friend').value;
            }
            function addFriend(friend_name) {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open("POST", "{% url 'todo:update' 'addFriend' %}", true);
                xmlHttp.onreadystatechange = () => {
                    if (xmlHttp.readyState == 4)
                        if (xmlHttp.status == 201) location.reload();
                        else if (xmlHttp.status == 404) alert("User not found. Make sure you use their username, not display name.");
                }
                xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
                xmlHttp.send("csrfmiddlewaretoken=" + csrfToken + "&friend_id=" + friend_name);
            }
            function cancelFriendRequest(friend_id) {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open("POST", "{% url 'todo:update' 'cancelFriendRequest' %}", true);
                xmlHttp.onreadystatechange = () => {
                    if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                        location.reload();
                }
                xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
                xmlHttp.send("csrfmiddlewaretoken=" + csrfToken + "&friend_id=" + friend_id);
            }
            function acceptFriendRequest(friend_id) {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open("POST", "{% url 'todo:update' 'acceptFriend' %}", true);
                xmlHttp.onreadystatechange = () => {
                    if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                        location.reload();
                }
                xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
                xmlHttp.send("csrfmiddlewaretoken=" + csrfToken + "&friend_id=" + friend_id);
            }
            function rejectFriendRequest(friend_id) {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open("POST", "{% url 'todo:update' 'declineFriend' %}", true);
                xmlHttp.onreadystatechange = () => {
                    if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                        location.reload();
                }
                xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
                xmlHttp.send("csrfmiddlewaretoken=" + csrfToken + "&user_id=" + {{ user.id }} + "&friend_id=" + friend_id);
            }
            function removeFriend(friend_id) {
                var xmlHttp = new XMLHttpRequest();
                if (confirm("Are you sure you want to remove this friend? You can always re-add them later.")) {
                    xmlHttp.open("POST", "{% url 'todo:update' 'removeFriend' %}", true);
                    xmlHttp.onreadystatechange = () => {
                        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                            location.reload();
                    }
                    xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
                    xmlHttp.send("csrfmiddlewaretoken=" + csrfToken + "&user_id=" + {{ user.id }} + "&friend_id=" + friend_id);
                } else return;
            }
            function changePassword() {
                window.location.href = "{% url 'password_change' %}";
            }
            function logout() {
                if (confirm("Are you sure you want to log out?")) {
                    var xmlHttp = new XMLHttpRequest();
                    xmlHttp.open("POST", "{% url 'logout' %}", true);
                    xmlHttp.onreadystatechange = () => {
                        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                            window.location.href = xmlHttp.responseURL;
                    }
                    xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
                    xmlHttp.send("csrfmiddlewaretoken=" + csrfToken);
                }
            }
            function updateFriendPerms() {
                var xmlHttp = new XMLHttpRequest();
                var perms = document.getElementById('friend_perms').value;
                xmlHttp.open("POST", "{% url 'todo:update' 'setFriendPerms' %}", true);
                xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
                xmlHttp.send("csrfmiddlewaretoken=" + csrfToken + "&user_id=" + {{ user.id }} + "&perms=" + perms);
            }
            function updateEveryonePerms() {
                var xmlHttp = new XMLHttpRequest();
                var perms = document.getElementById('everyone_perms').value;
                let cont = true;
                if (perms == "M") {
                    cont = confirm("Warning: Allowing everyone to modify your to-do lists can lead to unwanted changes. It is recommended to set this to 'View' or 'None'.");
                }
                if (cont) {
                    xmlHttp.open("POST", "{% url 'todo:update' 'setEveryonePerms' %}", true);
                    xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
                    xmlHttp.send("csrfmiddlewaretoken=" + csrfToken + "&user_id=" + {{ user.id }} + "&perms=" + perms);
                }
            }
            function updateDisplayName() {
                var xmlHttp = new XMLHttpRequest();
                var display_name = document.getElementById('display_name').value;
                xmlHttp.open("POST", "{% url 'todo:update' 'setDisplayName' %}", true);
                xmlHttp.onreadystatechange = () => {
                    if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                        location.reload();
                }
                xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
                xmlHttp.send("csrfmiddlewaretoken=" + csrfToken + "&user_id=" + {{ user.id }} + "&display_name=" + display_name);
            }
            function setEmail() {
                email = prompt("Please enter your email address:");
                if (email != null) {
                    var xmlHttp = new XMLHttpRequest();
                    xmlHttp.open("POST", "{% url 'todo:update' 'setEmail' %}", true);
                    xmlHttp.onreadystatechange = () => {
                        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                            alert("Email updated successfully.");
                    }
                    xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
                    xmlHttp.send("csrfmiddlewaretoken=" + csrfToken + "&user_id=" + {{ user.id }} + "&email=" + email);
                }
            }
            function deleteUser() {
                if (!confirm("Are you sure you want to delete this user?")) return;
                if (!confirm("Are you really, really sure?")) return;
                if (!confirm("Are you absolutely, positively 100% sure? THERE IS NO GOING BACK AFTER YOU HIT CONFIRM.")) return;
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open("POST", "{% url 'todo:update' 'deleteUser' %}", true);
                xmlHttp.onreadystatechange = () => {
                    if (xmlHttp.readyState == 4 && xmlHttp.status == 200) 
                        window.location.assign(xmlHttp.responseURL);
                }
                xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
                xmlHttp.send("csrfmiddlewaretoken=" + csrfToken + "&user_id={{ user.id }}");
            }
            function createTeam() {
                let teamName = prompt("Enter a name for your new team:");
                if (teamName == null || teamName == "") return;
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open("POST", "{% url 'todo:update' 'createTeam' %}", true);
                xmlHttp.onreadystatechange = () => {
                    if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                        window.location.assign(xmlHttp.responseURL);
                }
                xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded;charset=UTF-8");
                xmlHttp.send("csrfmiddlewaretoken=" + csrfToken + "&team_name=" + teamName);
            }
        </script>
        <h1>{{ user.display_name }}'s Profile</h1>
        <h5>({{user.username}})</h5>
        {% if self == user %}
        <p>
            <input id="display_name" placeholder="Display Name"><button onclick="updateDisplayName()">Set display name</button>
            <button onclick="logout()">Log out</button>
            <button onclick="changePassword()">Change Password</button>
            <button onclick="setEmail()">Set Email</button>
            <button onclick="deleteUser()">Delete User</button>
        </p>
        {% endif %}
        <h2><a href="{% url 'todo:todolist' user.id %}">To-Do List</a></h2>
        <h2>Teams</h2>
        <ul>
            {% for category in categories %}
            <li><a href="{% url 'todo:team' category.id %}">{{ category.name }}</a></li>
            {% empty %}
            <li>Not in any teams.</li>
            {% endfor %}
        </ul>
        <button onclick="createTeam()">Create New Team</button>
        {% if self == user %}
        <h2>Friends</h2>
        <input id="add_friend">
        <button onclick="addFriend(getFriendName())">Add Friend</button>
        <ul>
        {% for request in friend_requests %}
            <li>{{ request.display_name }}<button onclick="cancelFriendRequest({{ request.id }})">Cancel</button></li>
        {% empty %}
            <li>No outgoing friend requests.</li>
        {% endfor %}
        </ul>
        <ul>
        {% for request_inc in incoming_requests %}
            <li>{{ request_inc.display_name }}<button onclick="acceptFriendRequest({{ request_inc.id }})">Accept</button><button onclick="rejectFriendRequest({{ request_inc.id }})">Reject</button></li>
        {% empty %}
            <li>No incoming friend requests.</li>
        {% endfor %}
        </ul>
        <ul>
        {% for friend in friends %}
            <li><a href="{% url 'todo:user' friend.id %}">{{ friend.display_name }}</a><button onclick="removeFriend({{ friend.id }})">Remove</button></li>
        {% empty %}
            <li>No friends found.</li>
        {% endfor %}
        </ul>
        <label for="friend_perms">Friend Permissions:</label>
        <select id="friend_perms" name="friend_perms">
            <option value="P" {% if user.friend_perms == "P" %}selected{% endif %}>None</option>
            <option value="V" {% if user.friend_perms == "V" %}selected{% endif %}>View</option>
            <option value="M" {% if user.friend_perms == "M" %}selected{% endif %}>Modify</option>
        </select>
        <button onclick="updateFriendPerms()">Update</button>
        
        <label for="everyone_perms">Everyone Permissions:</label>
        <select id="everyone_perms" name="everyone_perms">
            <option value="P" {% if user.everyone_perms == "P" %}selected{% endif %}>None</option>
            <option value="V" {% if user.everyone_perms == "V" %}selected{% endif %}>View</option>
            <option value="M" {% if user.everyone_perms == "M" %}selected{% endif %}>Modify</option>
        </select>
        <button onclick="updateEveryonePerms()">Update</button>
        {% elif self %}
        {% if self in friends or self in incoming_requests or self in friend_requests %}
        <p><button disabled="" style="color: rgb(58, 58, 58);">Add Friend</button></p>
        {% else %}
        <p><button onclick="addFriend('{{ user.username }}')">Add Friend</button></p>
        {% endif %}
        {% endif %}
    </body>
</html>