<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign Up</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'registration/styles.css' %}">
        <script src="{% static 'registration/init.js' %}"></script>
    </head>
    <body>
        <h2>Sign Up</h2>
        <form method="post" action="{% url 'todo:signup' %}">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Sign Up</button>
        </form>
    </body>
</html>